#terraform
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
*.lock.hcl



variables.json
.idea


.env
*.pkrvars.hcl
*.tfbackend
.terraform/
terraform-key.json
ansible-key.json
packer-key.json
yc.yml

tls.crt
tls.key
